BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
BinPackParameters: false
PenaltyBreakAssignment: 1000000
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AccessModifierOffset: -4
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
AllowShortEnumsOnASingleLine: false

#BreakBeforeBraces: Attach
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

AllowShortFunctionsOnASingleLine: Empty
#AllowShortFunctionsOnASingleLine: None